# Movie Recommendation System Analysis

**Created by:** Rayah Mian  
**Date:** Tuesday, July 14, 2023

-------------------------------------------------------------------------

## 1. Introduction

### 1.1 Defining the Scope

I will leverage data from four prominent streaming platforms, namely Netflix, Amazon Prime, Disney Plus, and Hulu, to develop a movie recommendation system. This system will utilize content-based filtering techniques to generate personalized recommendations based on movie attributes. Users will have the ability to specify their preferences, whether it be a specific movie genre or their desired actor, enabling them to discover relevant titles within the system.

## 2. Data Review 

### 2.1 Gathering Data 

I will aggregate data from four distinct streaming platforms, each containing a collection of movies and TV shows with their respective attributes. By merging these datasets, I aim to create a comprehensive and consolidated dataset. The purpose of this consolidation is to establish a rich foundation from which I will develop and implement the recommendation system.  

### 2.2 Data Exploration

In [1]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_rows', None)

# Initialize the data
adf = pd.read_csv('amazonprime_data.csv')
ddf = pd.read_csv('disneyplus_data.csv')
hdf = pd.read_csv('hulu_data.csv')
ndf = pd.read_csv('netflix_data.csv')

#### Amazon Prime

In [2]:
adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [3]:
# Extract the types of entries
types = adf['type']
print(types.value_counts())

Movie      7814
TV Show    1854
Name: type, dtype: int64

In [4]:
# Extract countries of movies
adf['country'] = adf['country'].astype(str)
adf_countries = adf['country'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
adf_countries = adf_countries.str.strip()
country_frequency = adf_countries.value_counts()
print(country_frequency)

nan                     8996
United States            334
India                    246
United Kingdom            67
Canada                    35
France                    20
Germany                   17
Italy                     14
Spain                     11
Denmark                    6
Japan                      6
China                      6
Australia                  6
Belgium                    5
Brazil                     5
Switzerland                4
Austria                    3
Mexico                     3
Sweden                     3
Netherlands                3
Ireland                    2
Kosovo                     2
South Africa               2
Czech Republic             2
Thailand                   1
South Korea                1
Georgia                    1
Albania                    1
Poland                     1
Malaysia                   1
Kazakhstan                 1
Norway                     1
Colombia                   1
Afghanistan                1
Egypt                      1
Singapore                  1
United Arab Emirates       1
Chile                      1
Monaco                     1
Luxembourg                 1
Iran                       1
Hungary                    1
Portugal                   1
New Zealand                1
Argentina                  1
Hong Kong                  1
dtype: int64

In [5]:
# Extract the range of release_year
column_range = str(adf['release_year'].min()) + '-' + str(adf['release_year'].max())
print(column_range)

1920-2021

In [6]:
# Extract the genres
adf['listed_in'] = adf['listed_in'].astype(str)
adf_genres = adf['listed_in'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
adf_genres = adf_genres.str.strip()
genres_frequency = adf_genres.value_counts()
print(genres_frequency)

Drama                        3687
Comedy                       2099
Action                       1657
Suspense                     1501
Kids                         1085
Documentary                   993
Special Interest              980
Horror                        875
Romance                       674
Animation                     547
and Culture                   483
Entertainment                 483
Arts                          483
Science Fiction               457
International                 355
TV Shows                      263
Adventure                     259
Western                       234
Sports                        160
Music Videos and Concerts     155
Unscripted                    152
Arthouse                      141
LGBTQ                         113
Young Adult Audience           87
Fitness                        83
Anime                          80
Fantasy                        68
Faith and Spirituality         66
Military and War               44
Historical                     31
Talk Show and Variety          14
dtype: int64

#### Disney Plus

In [7]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [8]:
# Extract the types of entries
types = ddf['type']
print(types.value_counts())

Movie      1052
TV Show     398
Name: type, dtype: int64

In [9]:
# Extract countries of movies
ddf['country'] = ddf['country'].astype(str)
ddf_countries = ddf['country'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
ddf_countries = ddf_countries.str.strip()
country_frequency = ddf_countries.value_counts()
print(country_frequency)

United States           1184
nan                      219
United Kingdom           101
Canada                    77
Australia                 23
France                    22
South Korea               13
Japan                     10
China                     10
Germany                    9
Ireland                    8
Taiwan                     6
India                      5
Mexico                     4
Spain                      4
Hong Kong                  4
Argentina                  3
Denmark                    3
Hungary                    3
New Zealand                3
South Africa               3
Malaysia                   2
Philippines                2
United Arab Emirates       2
Austria                    2
Poland                     2
Singapore                  2
Belgium                    1
Slovenia                   1
Sweden                     1
Norway                     1
Pakistan                   1
Egypt                      1
Iran                       1
Syria                      1
Kazakhstan                 1
Russia                     1
Guatemala                  1
Luxembourg                 1
Namibia                    1
Botswana                   1
Angola                     1
Panama                     1
Tanzania                   1
Thailand                   1
Brazil                     1
Switzerland                1
Czech Republic             1
dtype: int64

In [10]:
# Extract the range of release_year
column_range = str(ddf['release_year'].min()) + '-' + str(ddf['release_year'].max())
print(column_range)

1928-2021

In [11]:
# Extract the genres
ddf['listed_in'] = ddf['listed_in'].astype(str)
ddf_genres = ddf['listed_in'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
ddf_genres = ddf_genres.str.strip()
genres_frequency = ddf_genres.value_counts()
print(genres_frequency)

Family                     632
Animation                  542
Comedy                     526
Action-Adventure           452
Animals & Nature           208
Coming of Age              205
Fantasy                    192
Documentary                174
Kids                       141
Drama                      134
Docuseries                 122
Science Fiction             91
Historical                  53
Music                       48
Musical                     44
Sports                      43
Biographical                41
Buddy                       40
Anthology                   28
Reality                     26
Romance                     20
Superhero                   19
Crime                       16
Variety                     12
Mystery                     12
Game Show / Competition     10
Survival                     9
Parody                       9
Lifestyle                    8
Western                      7
Concert Film                 7
Medical                      6
Dance                        6
Thriller                     5
Anime                        4
Spy/Espionage                3
Movies                       3
Series                       3
Disaster                     2
Soap Opera / Melodrama       2
Romantic Comedy              2
Talk Show                    1
Police/Cop                   1
Travel                       1
dtype: int64

#### Hulu

In [12]:
hdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [13]:
# Extract the types of entries
types = hdf['type']
print(types.value_counts())

TV Show    1589
Movie      1484
Name: type, dtype: int64

In [14]:
# Extract countries of movies
hdf['country'] = hdf['country'].astype(str)
hdf_countries = hdf['country'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
hdf_countries = hdf_countries.str.strip()
country_frequency = hdf_countries.value_counts()
print(country_frequency)

nan                     1453
United States           1097
Japan                    281
United Kingdom           200
Canada                    88
Germany                   41
France                    40
Australia                 36
Sweden                    20
Denmark                   17
South Korea               15
Ireland                   14
Belgium                   13
Italy                     12
Spain                     11
Mexico                     9
Norway                     7
China                      6
Bulgaria                   5
Colombia                   5
New Zealand                5
Russia                     4
Netherlands                4
Luxembourg                 3
Hong Kong                  3
Romania                    3
Finland                    3
Switzerland                3
United Arab Emirates       3
Czech Republic             3
Israel                     3
India                      2
Poland                     2
Chile                      2
Austria                    2
Argentina                  2
Singapore                  1
Greece                     1
Iceland                    1
Venezuela                  1
Syria                      1
Qatar                      1
Uruguay                    1
Brazil                     1
Philippines                1
Saudi Arabia               1
French Polynesia           1
Costa Rica                 1
Montenegro                 1
Serbia                     1
Afghanistan                1
Tunisia                    1
Thailand                   1
Hungary                    1
Malta                      1
Ukraine                    1
South Africa               1
Taiwan                     1
dtype: int64

In [15]:
# Extract the range of release_year
column_range = str(hdf['release_year'].min()) + '-' + str(hdf['release_year'].max())
print(column_range)

1923-2021

In [16]:
# Extract the genres
hdf['listed_in'] = hdf['listed_in'].astype(str)
hdf_genres = hdf['listed_in'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
hdf_genres = hdf_genres.str.strip()
genres_frequency = hdf_genres.value_counts()
print(genres_frequency)

Drama                   907
Comedy                  667
Adventure               556
Action                  555
Documentaries           524
Anime                   329
Horror                  304
Reality                 247
Thriller                231
Crime                   217
International           216
Family                  205
Romance                 186
Kids                    162
Lifestyle & Culture     155
Sports                  139
Science Fiction         122
Sitcom                  118
Black Stories           113
News                    106
Latino                   92
Mystery                  81
Cooking & Food           80
Music                    79
History                  70
LGBTQ+                   67
Science & Technology     48
Adult Animation          37
Classics                 35
Teen                     34
Cartoons                 34
Game Shows               18
Stand Up                 12
Health & Wellness         8
Late Night                4
Sketch Comedy             3
dtype: int64

#### Netflix

In [17]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [18]:
# Extract the types of entries
types = ndf['type']
print(types.value_counts())

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [19]:
# Extract countries of movies
ndf['country'] = ndf['country'].astype(str)
ndf_countries = ndf['country'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
ndf_countries = ndf_countries.str.strip()
country_frequency = ndf_countries.value_counts()
print(country_frequency)

United States           3690
India                   1046
nan                      831
United Kingdom           806
Canada                   445
France                   393
Japan                    318
Spain                    232
South Korea              231
Germany                  226
Mexico                   169
China                    162
Australia                160
Egypt                    117
Turkey                   113
Hong Kong                105
Nigeria                  103
Italy                    100
Brazil                    97
Argentina                 91
Belgium                   90
Indonesia                 90
Taiwan                    89
Philippines               83
Thailand                  70
South Africa              62
Colombia                  52
Netherlands               50
Denmark                   48
Ireland                   46
Sweden                    42
Poland                    41
Singapore                 41
United Arab Emirates      37
New Zealand               33
Lebanon                   31
Norway                    30
Israel                    30
Chile                     29
Russia                    27
Malaysia                  26
Pakistan                  24
Czech Republic            22
Switzerland               19
Uruguay                   14
Romania                   14
Saudi Arabia              13
Luxembourg                12
Austria                   12
Finland                   11
Iceland                   11
Hungary                   11
Greece                    11
Peru                      10
Bulgaria                  10
Qatar                     10
Jordan                     9
Kuwait                     8
Vietnam                    7
Serbia                     7
                           7
Cambodia                   6
Kenya                      6
Portugal                   6
Morocco                    6
West Germany               5
Ghana                      5
Bangladesh                 4
Venezuela                  4
Iran                       4
Croatia                    4
Zimbabwe                   3
Soviet Union               3
Senegal                    3
Ukraine                    3
Malta                      3
Algeria                    3
Syria                      3
Slovenia                   3
Georgia                    2
Guatemala                  2
Iraq                       2
Nepal                      2
Namibia                    2
Cayman Islands             2
Mauritius                  2
Puerto Rico                1
Jamaica                    1
Nicaragua                  1
Dominican Republic         1
Samoa                      1
Azerbaijan                 1
Botswana                   1
Vatican City               1
Kazakhstan                 1
Liechtenstein              1
Lithuania                  1
Afghanistan                1
Somalia                    1
Sudan                      1
Panama                     1
Uganda                     1
East Germany               1
Cuba                       1
Sri Lanka                  1
Latvia                     1
Ethiopia                   1
Cyprus                     1
Mozambique                 1
Angola                     1
Malawi                     1
Paraguay                   1
Burkina Faso               1
Albania                    1
Palestine                  1
Belarus                    1
Cameroon                   1
Slovakia                   1
Bermuda                    1
Ecuador                    1
Armenia                    1
Mongolia                   1
Bahamas                    1
Montenegro                 1
dtype: int64

In [20]:
# Extract the range of release_year
column_range = str(ndf['release_year'].min()) + '-' + str(ndf['release_year'].max())
print(column_range)

1925-2021

In [21]:
# Extract the genres
ndf['listed_in'] = ndf['listed_in'].astype(str)
ndf_genres = ndf['listed_in'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
ndf_genres = ndf_genres.str.strip()
genres_frequency = ndf_genres.value_counts()
print(genres_frequency)

International Movies            2752
Dramas                          2427
Comedies                        1674
International TV Shows          1351
Documentaries                    869
Action & Adventure               859
TV Dramas                        763
Independent Movies               756
Children & Family Movies         641
Romantic Movies                  616
TV Comedies                      581
Thrillers                        577
Crime TV Shows                   470
Kids' TV                         451
Docuseries                       395
Music & Musicals                 375
Romantic TV Shows                370
Horror Movies                    357
Stand-Up Comedy                  343
Reality TV                       255
British TV Shows                 253
Sci-Fi & Fantasy                 243
Sports Movies                    219
Anime Series                     176
Spanish-Language TV Shows        174
TV Action & Adventure            168
Korean TV Shows                  151
Classic Movies                   116
LGBTQ Movies                     102
TV Mysteries                      98
Science & Nature TV               92
TV Sci-Fi & Fantasy               84
TV Horror                         75
Anime Features                    71
Cult Movies                       71
Teen TV Shows                     69
Faith & Spirituality              65
TV Thrillers                      57
Movies                            57
Stand-Up Comedy & Talk Shows      56
Classic & Cult TV                 28
TV Shows                          16
dtype: int64

### 2.3 Data Analysis

#### Consolidated Data Set

We will merge all 4 data sets to create one consolidated dataset. We will also add a column called "platform" to distinguish the streaming platforms from each other.

In [28]:
# CLEAN DATA

# Add the "platform" column to each DataFrame
adf['platform'] = 'Amazon Prime'
ddf['platform'] = 'Disney Plus'
hdf['platform'] = 'Hulu'
ndf['platform'] = 'Netflix'

# Modify the show IDs 
adf['show_id'] = 'AP' + adf['show_id'].str[1:]
ddf['show_id'] = 'DP' + ddf['show_id'].str[1:]
hdf['show_id'] = 'H' + hdf['show_id'].str[1:]
ndf['show_id'] = 'N' + ndf['show_id'].str[1:]

In [29]:
# Merge the datasets
df1 = pd.concat([adf, ddf, hdf, ndf], ignore_index=True)
df1 = df1[['show_id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 
        'duration', 'listed_in', 'description']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   platform      22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       22998 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.3+ MB

In [30]:
# Extract countries of movies
df1['country'] = df1['country'].astype(str)
df_countries = df1['country'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
df_countries = df_countries.str.strip()
df_countries = df_countries[df_countries != '']

# Get unique countries
unique_countries = df_countries.unique()
countries_string = ', '.join(unique_countries)
print(countries_string)

Canada, India, United States, United Kingdom, France, Spain, nan, Italy, Germany, Japan, China, Denmark, Czech Republic, Netherlands, Ireland, Thailand, Brazil, Switzerland, Australia, Belgium, Chile, Argentina, Mexico, Sweden, New Zealand, Portugal, Hungary, Iran, Luxembourg, South Africa, Austria, Monaco, Egypt, United Arab Emirates, Singapore, South Korea, Afghanistan, Colombia, Norway, Kosovo, Kazakhstan, Malaysia, Poland, Albania, Georgia, Hong Kong, Taiwan, Philippines, Tanzania, Panama, Angola, Botswana, Namibia, Guatemala, Russia, Syria, Pakistan, Slovenia, Israel, Ukraine, Malta, Bulgaria, Tunisia, Romania, Serbia, Montenegro, Costa Rica, French Polynesia, Saudi Arabia, Uruguay, Qatar, Venezuela, Finland, Greece, Iceland, Ghana, Burkina Faso, Ethiopia, Turkey, Nigeria, Nepal, Jordan, Algeria, Indonesia, Kuwait, Vietnam, Lebanon, Mauritius, Cameroon, Palestine, Kenya, Cambodia, Bangladesh, Cayman Islands, Senegal, Peru, Mozambique, Belarus, Zimbabwe, Puerto Rico, Cyprus, Iraq, Malawi, Paraguay, Croatia, West Germany, Soviet Union, Morocco, Slovakia, Bermuda, Ecuador, Armenia, Mongolia, Bahamas, Sri Lanka, Latvia, Liechtenstein, Cuba, Nicaragua, Dominican Republic, Samoa, Azerbaijan, Vatican City, Jamaica, Lithuania, Somalia, Sudan, Uganda, East Germany

In [31]:
# Extract the genres
df1['listed_in'] = df1['listed_in'].astype(str)
df_genres = df1['listed_in'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
df_genres = df_genres.str.strip()

# Get unique genres
unique_genres = df_genres.unique()
genres_string = ', '.join(unique_genres)
print(genres_string)

Comedy, Drama, International, Action, Suspense, Documentary, Fantasy, Kids, Special Interest, Science Fiction, Adventure, Horror, Sports, Talk Show and Variety, Anime, Arts, Entertainment, and Culture, TV Shows, Animation, Music Videos and Concerts, Fitness, Faith and Spirituality, Military and War, Western, LGBTQ, Romance, Unscripted, Young Adult Audience, Arthouse, Historical, Family, Musical, Docuseries, Music, Biographical, Action-Adventure, Superhero, Reality, Survival, Animals & Nature, Coming of Age, Lifestyle, Movies, Concert Film, Crime, Anthology, Medical, Variety, Spy/Espionage, Buddy, Parody, Game Show / Competition, Romantic Comedy, Thriller, Police/Cop, Talk Show, Dance, Series, Mystery, Soap Opera / Melodrama, Disaster, Travel, Stand Up, Cooking & Food, Documentaries, Lifestyle & Culture, News, History, Teen, Health & Wellness, Black Stories, Latino, Late Night, Sketch Comedy, Classics, LGBTQ+, Adult Animation, Sitcom, Game Shows, Cartoons, Science & Technology, International TV Shows, TV Dramas, TV Mysteries, Crime TV Shows, TV Action & Adventure, Reality TV, Romantic TV Shows, TV Comedies, TV Horror, Children & Family Movies, Dramas, Independent Movies, International Movies, British TV Shows, Comedies, Spanish-Language TV Shows, Thrillers, Romantic Movies, Music & Musicals, Horror Movies, Sci-Fi & Fantasy, TV Thrillers, Kids' TV, Action & Adventure, TV Sci-Fi & Fantasy, Classic Movies, Anime Features, Sports Movies, Anime Series, Korean TV Shows, Science & Nature TV, Teen TV Shows, Cult Movies, Faith & Spirituality, LGBTQ Movies, Stand-Up Comedy, Stand-Up Comedy & Talk Shows, Classic & Cult TV

In [32]:
df1.isnull().sum()

show_id            0
platform           0
type               0
title              0
director        8259
cast            5321
country            0
date_added      9554
release_year       0
rating           864
duration         482
listed_in          0
description        4
dtype: int64

In [34]:
# Merge duplicates
# Count the number of duplicates before the consolidation
columns_to_check = ['title', 'release_year']
num_duplicates = df1.duplicated(subset=columns_to_check).sum()
print("Number of duplicates before consolidation:", num_duplicates)

# Sort and find duplicates
df_sorted = df1.sort_values(by=['title', 'release_year'])
grouped = df_sorted.groupby(['title', 'release_year'])

consolidation_rules = {
    'show_id': 'last',
    'platform': lambda x: ', '.join(x),
    'type': 'last',
    'director': 'last',
    'cast': 'last',
    'date_added': 'last',
    'rating': 'last',
    'duration': 'last',
    'listed_in': lambda x: ', '.join(x),
    'description': 'last'}

df = grouped.agg(consolidation_rules).reset_index()
df.info()

# Count the number of duplicates after the consolidation
columns_to_check = ['title', 'release_year']
num_duplicates = df.duplicated(subset=columns_to_check).sum()
print("Number of duplicates after consolidation:", num_duplicates)

Number of duplicates before consolidation: 398
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22600 entries, 0 to 22599
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         22600 non-null  object
 1   release_year  22600 non-null  int64
 2   show_id       22600 non-null  object
 3   platform      22600 non-null  object
 4   type          22600 non-null  object
 5   director      14556 non-null  object
 6   cast          17471 non-null  object
 7   date_added    13303 non-null  object
 8   rating        21766 non-null  object
 9   duration      22149 non-null  object
 10  listed_in     22600 non-null  object
 11  description   22596 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB
Number of duplicates after consolidation: 0